* {
  margin: 0;
  padding: 0;
}

/* HEADER */

.header {
  height: 60px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: center;
}

.header__nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 40%;
  list-style: none;
}

.header__nav a {
  color: black;
  text-decoration: none;
  z-index: 100;
}

/* MAIN */

.main {
  background: url(./components/img/mountain-bg.jpg);
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container-title {
  font-size: 4vw;
  margin-bottom: 10px;
}

.main__container-quote {
  font-size: 1.5vw;
  margin-bottom: 10px;
}

.main__container-author {
  font-size: 1vw;
  font-style: italic;
  text-align: right;
}

/* EXPLORE */

.explore {
  background-color: #0f0001;
  color: white;
  height: 800px;
}

.explore__text {
  padding: 20px;
  height: 25%;
}

.explore__text-title {
  text-align: center;
  font-size: 2vw;
  margin-bottom: 15px;
}

.explore__text-text {
  width: 50%;
  text-align: center;
  font-size: 1vw;
  margin: 0 auto;
}

.explore__gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore__gallery-card {
  margin: 15px 30px;
  position: relative;
}

.explore__gallery-card img {
  width: 400px;
  height: 500px;
  transition: all 200ms ease-in;
  transform: scale(1);
}

.explore__gallery-card img:hover {
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.explore__gallery-cardWrapper {
  width: 400px;
  position: absolute;
  bottom: 25px;
  text-align: center;
}

.explore__galery-cardTitle {
  font-size: 1.6vw;
  margin-bottom: 5px;
}

.explore__galery-cardText {
  font-size: 1.2vw;
}
